# Core
streamlit

# UI / Visuals
streamlit-option-menu
streamlit-lottie
plotly

# Data handling
pandas
numpy
scikit-learn
pdfplumber
python-docx
pypdf
requests
beautifulsoup4
pdf2image

# AI / ML / Generative APIs
google-generativeai

# Web scraping / Selenium
selenium
webdriver-manager
SQLAlchemy